*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box1{
    background-color: #111111;
    height: 100vh;
    width: 50%;
    border: 6px solid #529898;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0 0 10px black;
}
.box2{
    background-color:#111111 ;
    height: 100vh;
    width: 50%;
    border: 6px solid #529898;
    box-shadow: 0 0 10px black;
   
}
.circle {
    position: absolute;
    background-color: #0F1111; 
    z-index: 1;
    height: 70%; 
    width: 35%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px white;
    border: 6px solid #C5ECEB;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    color:  #C5ECEB;
}
.content{
    margin-top: -6%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.content input{
    margin-top: 6%;
    padding: 8%;
    background-color:  #0F1111;
    color:  #C5ECEB;
    height: 6vh;
    font-size: x-large;
    border: 2px solid #C5ECEB;
    letter-spacing: 16px;
}

#enterbutt ,#exitbutt{
    margin-top: 12%;
    height: auto;
    font-size: xx-large;
    background-color:   #7dc4c4 ;
    padding: 15px;
}

.innercontainer {
    position: fixed;
    top: 0;
    right: 0;
    color: black;
    /* z-index: 1; */
    transform: translate(-50%, 0);
}


#exitbutt{
    border-radius: 10px;
    opacity: 0;
    /* z-index: 1; */
    top: 0;
    right: 0;
    transform: translate(-50%, 0);
}
#timer{
    opacity: 0;
    height: auto;
    width: 12vw;
    font-size: xx-large;
    background-color:  #C5ECEB ;
    padding: 15px;
    margin: 30vh;
    top: 0;
    right: 0;
    transform: translate(70%, 0);
}
#warn{
    margin-top: 5%;
    display: none;
    color: rgb(229, 14, 14);
    z-index: 4;
}
.circle img{
    height: 10%;
}