*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box1{
    background-color: #111111;
    height: 100vh;
    width: 50%;
    border: 6px solid #529898;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0 0 10px black;
}

.box2{
    background-color:#111111 ;
    height: 100vh;
    width: 50%;
    border: 6px solid #529898;
    box-shadow: 0 0 10px black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    position: absolute;
    background-color: #0F1111; 
    z-index: 1;
    height: 70%; 
    width: 35%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px white;
    border: 6px solid #C5ECEB;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    color:  #C5ECEB;
}

.content{
    margin-top: -6%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.content input{
    margin-top: 6%;
    padding: 8%;
    background-color:  #0F1111;
    color:  #C5ECEB;
    height: 6vh;
    font-size: x-large;
    border: 2px solid #C5ECEB;
    letter-spacing: 16px;
}

#enterbutt ,#exitbutt{
    margin-top: 12%;
    height: auto;
    font-size: xx-large;
    background-color:   #7dc4c4 ;
    padding: 15px;
}

.innercontainer {
    position: fixed;
    top: 0;
    right: 0;
    color: black;
    transform: translate(-50%, 0);
}

#exitbutt{
    border-radius: 10px;
    opacity: 0;
    top: 0;
    right: 0;
    transform: translate(-50%, 0);
}

#timer{
    opacity: 0;
    height: auto;
    width: 12vw;
    font-size: xx-large;
    background-color:  #529898 ;
    padding: 15px;
    margin: 30vh;
    top: 0;
    right: 0;
    transform: translate(70%, 0);
}
#writtenTime{
    color:#529898 ;
    font-size: xx-large;
    margin-left: 22%;
    font-weight: bold;
    margin-top: 101px;
}
#warn{
    margin-top: 5%;
    display: none;
    color: rgb(229, 14, 14);
    z-index: 4;
}

.circle img{
    height: 10%;
}

.bat{
    height: 140px;
    width: 325px;
    margin-left: 10%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(90deg);

}

.charge1,.charge2,.charge3,.charge4{
    height: 130px;
    width: 75px;
    background-color: #529898;
    position: relative;
    opacity: 0;
    border: 2px solid #529898;
}

.charge1 {
    bottom: 45px;
    left: 5px;
    animation: charge-1 150s ;
}

@keyframes charge-1 {
    0%, 25% {
        opacity: 1;
    }
    37.5% {
        opacity: 0.75; 
    }
    50%, 75% {
    border: 2px solid #529898;
    opacity: 0; 
    }
    100% {
    border: 2px solid #529898;
    opacity: 0; 
    }
}
.charge1{
    opacity: 0;
}
.charge2 {
    bottom: 175px;
    left: 85px;
    animation: charge-2 300s ;
}

@keyframes charge-2 {
    0%, 25% {
        opacity: 1;
    }
    50% {
        opacity: 0.75; 
    }
    62.5%, 100% {
    border: 2px solid #529898;
    opacity: 0; 
    }
}
.charge2{
    opacity: 0;
}

.charge3 {
    bottom: 305px;
    left: 165px;
    animation: charge-3 450s ;
}

@keyframes charge-3 {
    0%, 25% {
        opacity: 1;
    }
    50% {
        opacity: 0.75; 
    }
    75%, 100% {
    border: 2px solid #529898;
    opacity: 0; 
    }
}
.charge3{
    opacity: 0;
}
.charge4 {
    bottom: 435px;
    left: 245px;
    animation: charge-4 600s ;
}

@keyframes charge-4 {
    0%, 25% {
        opacity: 1;
    }
    50% {
        opacity: 0.75; 
    }
    87.5%, 100% {
    border: 2px solid #529898;
    opacity: 0; 
    }
}
.charge4{
    opacity: 0;
}
